		@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
		
		@mixin vertical-align {
		  position: relative;
		  top: 50%;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		}
		
		* {
			font-family: 'Droid Sans';
			font-style: normal;
			font-weight: 400;
			margin: 0;
		}
		
		html, body {
			height: 100%;
			margin: 0;
			overflow-x: hidden;
		}
		
		body {
			background-color: white;
			margin: 0px;
			font-family: 'Droid Sans';
			overflow-x: hidden;
		}
		
		#topBar {
			position:relative;
			left: 0px;
			margin: 0px;
			width: 100% auto;
			height: 30px;
			background-color: #efefef;
			border-bottom: 1px solid #5c5c5c;
		}
		
		#header {
			background-color: white;
			position: relative;
			width: 100%;
			left: 40px;
			text-align: center;
		}
		
		#Hbar {
			position: relative;
			width: 100%;
			height: 50px;
			border-bottom: 4px solid #D1E751;
		}
		
		#list {
			position: relative;
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			text-align: right;
		}
		
		#list ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: relative;
		}
		
		#list ul li {
			float: left;
			padding: 15px;
		}
		
		#list ul li a {
			text-decoration: none;
			position: relative;
			font-weight: bold;
			padding: 13px 16px 16px 16px;
			color: #373535;
			font-weight: lighter;
		}
		
		#list ul li a:hover {
			color: #5beaf6;
		}
				
		#HlogoSpace {
			position: relative;
			//width: 1165px;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
		
		#HlogoSpace h1 {
			display: inline;
			position: relative;
			bottom: 73px;
			left: 15px;
		}
		
		#HlogoSpace h3 {
			display: inline;
			position: relative;
			left: 20px;
			bottom: 45px;
		}
		
		#HlogoSpace img {
			display: inline-block;
			position: relative;
			width: 130px;
			height: 130px;
			padding-bottom: 4px;
		}
		
		footer {
			position: relative;
			background-color: #2a99f3;
			width: 100% auto;
			border-top: #898989;
		}
		
		footer, .push {
			clear: both;
			height: 100px;
		}
		
		#body {
			position: relative;
			border-left: 1px solid Silver;
			border-right: 1px solid Silver;
			background-color: #f9f9f9;
			margin-left: auto;
			margin-right: auto;
		}
		
		#inBody {
			
			min-height: 100%;
			margin: 0 auto -100px;
		}
		
		.menu {
			position: relative;
			padding: 10px 20px;
			background: #D1E751;
			color: black;
			border-radius: 5px;
			cursor: pointer;
			display: inline;
		}
		
		#Menulist { display: none; }
		
		#Menulist:checked - #injList {
			display: inline-block;
		}
		
		#injListParent { position: relative; width: 0; height: 0 }
		
		#injList {
			position: relative;
			width:350px;
			left: 0px;
			background-color: white;
			border: 1px solid gray;
			margin-left: auto;
			margin-right: auto;
			z-index: 99;
			display: inline-block;
		}
		
		#injList a {
			position: relative;
			width: 100%;
			height: 50px;
			background-color: #76a5db;
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			z-index: 100;
		}
		
		#injList a:hover {
			background-color: #a9c9e7;
		}
		
		#slideShow {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 850px;
			vertical-align:top;
		}
		
		.fotorama {
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}
		
		.s {
			position: relative;
			top:10px;
			left: 20px;
			color: #ffffff;
			font-size: 22px;
			
		}
		
		#InjuryBody {
			position: relative;
			background-color: white;
			border-left: #c7c7c7;
			border-right: #c7c7c7;
			margin-left: auto;
			margin-right: auto;
			padding: 90px;
		}
		
		.tdHead {
			position: relative;
			width: 170px;
			height: 100px;
			vertical-align: top;
			border-top: 3px solid #ff7000;
		}
		
		.tdInfo {
			position: relative;
			left: 30px;
		}
		
		.tdInfo img {
			max-height: 350px;
			max-width: 350px;
		}
		
		#Quiz {
			position: relative;
			width: 100%;
			text-align: center;
		}
		
		#Quiz a {
			text-decoration: none;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 15px;
			padding-left: 15px;
			background-color: #ff7000;
			border-radius: 10px;
			color: white;
			display: inline-block;
		} 
		
		#Quiz a:hover {
			background-color: #ff0000;
		}
		
		#Quiz [type=button] {
			text-decoration: none;
			border: none;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			padding-left: 20px;
			background-color: #ff7000;
			border-radius: 10px;
			color: white;
			display: inline-block;
			cursor: pointer;
		} 
		
		#Quiz [type=button]:hover {
			background-color: #ff0000;
		}